/* src/styles/global.css */
@import "./theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 100%;
  max-width: 600px; /* Mobile-first mas contido */
  padding: 2rem 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}
