@import './theme.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg); /* Fundo cinza claro */
  color: var(--color-text-main);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  padding: 2rem;
  line-height: 1.5;
}

button, input {
  font-family: inherit;
}